.tableStyle {
  background-color: hsl(109, 31%, 93%) !important;
  color: #333 !important;
  width: 100%; /* Ensure the table takes up the full width */
  font-size: 0.7em !important;
  overflow-x: auto; /* Add horizontal scroll for smaller screens */
} 

.tableStyle th,
.tableStyle td {
  padding: 0px;
  text-align: center !important;
  border: 2px solid #7e7e7e !important;
  vertical-align: middle;
}

.tableStyle th {
  background-color: #f1e349 !important;
  font-weight: bold;
  color: #333 !important;
  white-space: nowrap; /* Prevent text wrapping */
}

/* Adjust column widths */
#TtableStyle th:nth-child(1) {
  width: 8%;
} /* Date */
#TtableStyle td:nth-child(1) {
  white-space: nowrap;
} 
#TtableStyle th:nth-child(2) {
  width: 5%;
} /* Week */
#TtableStyle th:nth-child(3) {
  width: 7%;
} /* MRIS/DR */
#TtableStyle th:nth-child(4) {
  width: 10%;
} /* Supplier */
#TtableStyle th:nth-child(5) {
  width: 10%;
} /* Requested By */
#TtableStyle th:nth-child(6) {
  width: 10%;
} /* Section */
#TtableStyle th:nth-child(7) {
  width: 10%;
} /* Purpose */
#TtableStyle th:nth-child(8) {
  width: 5%;
} /* Item ID */
#TtableStyle th:nth-child(9) {
  width: 12%;
} /* Product Name */
#TtableStyle th:nth-child(10) {
  width: 8%;
} /* Area */

#TtableStyle th{
  color: #333 !important;
}

.tableStyle td {
  max-width: 120px; /* Set max width */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Alternating row background color */
.table-striped tbody tr:nth-of-type(odd) > * {
  background-color: color-mix(in srgb, #f0efed 20%, white 100%) !important;
}


