body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loginDiv {
  background-color: rgb(230, 230, 230);
  padding: 3em;
  width: 50em;
  border-radius: 10px;
}

.cabWad {
  color: rgb(71, 71, 71);
  font-size: 2.5em;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin-top: 0;
}

.ims {
  color: rgb(71, 71, 71);
  font-size: 1.5em;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin: 0;
}

.loginbtn {
  text-align: center;
}

.loglbl {
  color: rgb(71, 71, 71);
}

.genReport {
  background-color: blanchedalmond !important;
}

/* Navbar Link Styling */
.nav-link-custom {
  transition: color 0.3s ease-in-out !important;
}

.nav-link-custom:hover {
  color: #ffcc00 !important; /* Change hover color */
}

/* Active Page Highlight */
.active-link {
  color: #ffcc00 !important;
  font-weight: bold;
  border-bottom: 3px solid #ffcc00 !important; /* Optional underline */
}

/* Navbar on Small Screens */
@media (max-width: 992px) {
  .topNav .nav-link-custom {
    text-align: center;
    display: block;
    padding: 10px;
  }
}
