body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f8f9fa;
}
.cabWad {
  color: rgb(71, 71, 71);
  font-size: 2.5em;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin-top: 0;
}

.ims {
  color: rgb(71, 71, 71);
  font-size: 1.5em;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin: 0;
}

.loginbtn {
  text-align: center;
}

.loglbl {
  color: rgb(71, 71, 71);
}

.sectionTitle{
  color: rgb(71, 71, 71);
  text-align: center;
}

.genReport {
  background-color: rgb(217, 217, 215) !important;
}

/* Navbar Link Styling */
.nav-link-custom {
  transition: color 0.3s ease-in-out !important;
}

.nav-link-custom:hover {
  color: #ffcc00 !important; /* Change hover color */
}

/* Active Page Highlight */
.active-link {
  color: #ffcc00 !important;
  font-weight: bold;
  border-bottom: 3px solid #ffcc00 !important; /* Optional underline */
}

/* Navbar on Small Screens */
@media (max-width: 992px) {
  .topNav .nav-link-custom {
    text-align: center;
    display: block;
    padding: 10px;
  }
}

.topNav {
  width: 100%;
  position: fixed !important;  /* Sticks to the top */
  top: 0;
  left: 0;
  z-index: 1 !important; /* Ensures it's above other elements */
  height: 45px;
  background-color: #0042a5 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}