body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Disable horizontal scroll */
}

.loginDiv {
  background-color: rgb(230, 230, 230);
  padding: 3em;
  width: 50em;
  border-radius: 10px;
}

.cabWad {
  color: rgb(71, 71, 71);
  font-size: 2.5em;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin-top: 0;
}

.ims {
  color: rgb(71, 71, 71);
  font-size: 1.5em;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin: 0;
}

.loginbtn{
  text-align: center;
}

.loglbl{
  color: rgb(71, 71, 71);
}


